<h1>Android Push Notifications</h1>

<div>
<% so_far = RailsPushNotifications::GCMApp.includes(:notifications).map(&:notifications).flatten.reduce([0, 0]) { |res, notif| [res[0] + notif.success, res[1] + notif.failed] } %>
<p>
<%= "#{so_far.reduce(&:+)} Notifications sent so far: #{so_far[0]} suceeded, #{so_far[1]} failed" %></p>
</div>

<%= render 'shared/flash' %>

<%= form_tag(android_index_path, method: :post) do %>
  <div>
    <%= label_tag :gcm_api_key, "GCM API Key" %>
    <%= text_field_tag :gcm_api_key %>
  </div>
  <div>
    <%= label_tag :destination, "Destination Registration ID" %>
    <%= text_field_tag :destination %>
  </div>
  <div>
    <%= label_tag :message, "Message" %>
    <%= text_field_tag :message %>
  </div>
  <div>
    <%= submit_tag "Push!" %>
  </div>
<% end %>
